*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,960,480)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23066951'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='407' height='339.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* navbar */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0 32px;
  background-color: #066951;
}
.logo {
  margin-right: auto;
  font-size: 32px;
  font-weight: 700;
  color: #ceeeec;
}
nav {
  margin-right: 32px;
  display: flex;
}
nav a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ceeeec;
}
nav a:hover {
  background-color: #ceeeec;
  color: #111111;
}
.nav-user {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #055a45;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px dashed #ceeeec;
}
.nav-user-name {
  color: #ceeeec;
}
.nav-user button {
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px inset;
}
.nav-user button:hover {
  cursor: pointer;
  opacity: 0.85;
}

/* authentification */
.auth {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
}
.login,
.signup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 128px 164px 0px 164px;
  padding: 64px 0;
  background-color: #06695136;
  color: rgb(0, 70, 48);
  border-radius: 10px;
}
.auth-title {
  font-size: 28px;
  font-weight: bold;
}
.auth-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 16px;
  border-top: 1px solid;
  padding: 16px 0;
}
.auth-form input,
.auth-form button {
  padding: 16px;
  border: none;
  border-radius: 5px;
}
.auth-form input {
  background-color: #e7f3f0;
}
.auth-form input:hover {
  background-color: #cbe7e0;
}
.auth-form input:focus {
  outline-color: #055a45;
  outline-offset: -3px;
}
.auth-form button {
  margin-top: 16px;
  background-color: #055a45;
  color: #def3ed;
  font-size: 20px;
}
.auth-form button:hover {
  cursor: pointer;
  background-color: #034b39;
}
.auth-form .error-message {
  color: #ffffff;
  background-color: #ff00003d;
  text-align: center;
  padding: 16px 0;
}
/* settings */
.settings-container {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings {
  height: 80vh;
  width: 70vw;
  display: flex;
  box-shadow: 0px 2px 8px 5px #00000011;
}
.settings-tabs {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #d4f0e959;
}
.settings-tabs button {
  width: 100%;
  height: 48px;
  font-size: 18px;
  border: none;
  color: #def3ed;
}
.settings-tabs button:hover {
  cursor: pointer;
  opacity: 0.85;
}
.settings-body {
  width: 80%;
  background-color: #d4f0e98e;
}
.settings-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 128px;
}
.settings-body-container > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-body-container div input {
  width: 40%;
  padding: 16px;
}
.settings-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.settings-btns button {
  padding: 10px 16px;
  border: none;
  color: #def3ed;
}
.settings-btns button:hover{
  cursor: pointer;
  opacity: .85;
}
.change-btn {
  background-color: #066951;
}
.confirm-btn {
  background-color: #1a9dc5;
}
.cancel-btn {
  background-color: #f32d48;
}
.message {
  font-size: 13px;
  padding: 8px 4px;
}